* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Baskervville", serif;
    background-color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.profile_picture{
    width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.profile_picture img{
    width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
    background-color: #ff8906;
    border-radius: 20px;
    padding: 30px;
    width: 90%;
    max-width: 600px;
    transition: all 0.3s ease;
}

@media (min-width: 600px) {
    .card {
        width: 100%;
    }
}

@media (min-width: 900px) {
    .card {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .card {
        width: 60%;
    }
}

@media (min-width: 1800px) {
    .card {
        width: 50%;
    }
}

.info {
    display: flex;
    flex-direction: column;
}

.name,
.title,
.bio,
.location,
.Email,
.socials,
.time {
    margin-bottom: 20px;
}

.name p,
.title p,
.bio p,
.location p,
.Email p,
.socials p,
.time p {
    color: #0f0e17;
    opacity: 40%;
}

.name h3,
.title h3,
.bio h5,
.location h3,
.Email a,
.socials a img,
.time div {
    color: #0f0e17;
}

.socials img {
    margin-right: 10px;
    width: 32px;
    height: 32px;
}
